body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

body > h1 {
    padding: 0;
    margin-top: 0;
}

article {
    font-size: 15px;
    border-top: 2px solid #DDDDDD;
}

body > footer {
    font-size: 13px;

    border-top: 2px solid #DDDDDD;
    padding: 2px;
}

body > footer ul {
    padding: 0;
}

body > footer ul li {
    display: inline;
}

#irc {
    border: 2px solid #DDD;
    padding: 5px;
}

#log li:nth-child(2n) {
    background-color: #EEE;
}
