<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>한국 러스트 사용자 그룹</title>
<link rel="stylesheet" type="text/css" href="/static/default.css" />
</head>
<body>
<h1>
<img src="http://www.rust-lang.org/logos/rust-logo-128x128.png" alt="Rust logo" />
<a href="/">rust-kr.org</a> - 한국 러스트 사용자 그룹
</h1>
<article>
<h1>{{title}}</h1>
{{{content}}}
</article>
<footer>
<p>이 사이트는
Rust,
<a href="https://github.com/chris-morgan/rust-http">rust-http</a>,
<a href="https://github.com/erickt/rust-mustache">rust-mustache</a>를
기반으로 제작되었습니다.</p>
<p>
<a href="/pages/_pages">모든 문서 보기</a> /
<a href="https://github.com/klutzy/rust-kr-rust">사이트 소스 보기</a>
</p>
</footer>
</body>
</html>
