<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>한국 러스트 사용자 그룹</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/default.css" />
<link rel="stylesheet" href="http://yandex.st/highlightjs/7.4/styles/solarized_light.min.css" />

<style>
@media (min-width: 992px) {
    img.ribbon {
        display: inline !important;
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
    }
}
</style>

<script src="/static/highlight.pack.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body onload="update()">
<a href="https://github.com/rust-kr/rust-kr-rust">
    <img class="ribbon" style="display: none" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>

<h1>
<a href="/"><img src="http://www.rust-lang.org/logos/rust-logo-128x128.png" alt="Rust logo" /></a>
<a href="/">rust-kr.org</a> - 한국 러스트 사용자 그룹
</h1>
<article>
{{{content}}}
</article>
<footer>
<p>Powered by:
<a href="http://www.rust-lang.org/">Rust</a>,
<a href="https://github.com/hyperium/hyper/">hyper</a>,
<a href="https://github.com/erickt/rust-mustache">rust-mustache</a>
</p>
<ul>
<li><a href="/pages/_pages">모든 문서 보기</a></li>
<li><a href="https://github.com/rust-kr/rust-kr-rust">사이트 소스 보기</a></li>
</ul>
</footer>

<div id="irc">
    <ul id="log"> </ul>
    <p>
    Nick:<input type="text" name="nick" size="16" value="web0000" />
    Text:<input type="text" name="text" size="80" />
    <a href="#" onclick="javacript:send()">Send</a>
    </p>
</div>

<script type="text/javascript"><!--
var textinput = $('input[name=text]');
textinput.keypress(function(e) {
  if (e.keyCode == 13) {
    return send();
  }
});

var lasttime = 0;
function update() {
  $.get('//python.rust-kr.org/api/update', {time: lasttime}, null, 'jsonp').done(function(data) {
    var items = eval(data);
    for (var index in items) {
      var logbox = $('ul#log');
      lasttime = items[index][0];
      $('<li/>').text('<' + items[index][1] + '> ' + items[index][2]).appendTo(logbox);
    }
    update();
  });
}

function send() {
  var nick = $('input[name=nick]').val();
  var text = textinput.val();
  if (text.length) {
    $.post('//python.rust-kr.org/api/send', {nick: nick, text: text});
    textinput.val('');
  }
}

$('input[name=nick]').val(('0000'+(Math.random()*10000|0)).replace(/^.*(....)$/,'web$1'));

hljs.initHighlightingOnLoad();

--></script>

</body>
</html>
